<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-md-8 mx-auto">
          <div><h2 class="text-white text-center">ABOUT BCDS</h2></div>
          <div class="auto-form-wrapper">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <h4 class="text-warning"><img src="../../../assets/images/social-media.svg" style="max-width: 40px; max-height: 40px; margin-right: 0.5em;"/> User-Friendly</h4>
                  <p>As a result of its intuitive user interface and amazing user experience BCDS has been touted to be very user-friendly.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <h4 class="text-danger"><img src="../../../assets/images/precision.svg" style="max-width: 40px; max-height: 40px; margin-right: 0.5em;"/>Cutting-edge Technology</h4>
                  <p>BCDS utilizes deep learning: a cutting-edge technology to analyze biopsy slides and generate accurate diagnosis</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div>
                  <h4 class="text-primary"><img src="../../../assets/images/resting.svg" style="max-width: 40px; max-height: 40px; margin-right: 0.5em;"/> Ease of Work</h4>
                  <p>From storing and retrieving patient data to analysing biopsy slides and generating printable reports, BCDS makes biopsy analysis a breeze</p>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <h4 class="text-info"><img src="../../../assets/images/production.svg" style="max-width: 40px; max-height: 40px; margin-right: 0.5em;"/>Statistics and analytics</h4>
                  <p>BCDS provides realtime statistics and analytics of patients, users, tests; negative and positive.</p>
                </div>
              </div>
            </div>
            <div>
              <span style="display: block; margin: auto"><a [routerLink]="['/login']"  class="btn btn-info text-center">Get started!</a></span>
            </div>
          </div>
          <br/>
          <p class="footer-text text-center">copyright © 2018 The Override Dev.</p>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
