<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-md-8 mx-auto">
          <div><h2 class="text-white text-center">Helpful Cancer Resources</h2></div>
          <div class="auto-form-wrapper">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <h6 class="text-warning"> American Association for Cancer Research</h6>
                  <a href="http://www.aacr.org/" class="btn btn-warning" target="_blank" title="opens in new page">Check it out</a>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <h6 class="text-primary"> American Cancer Society</h6>
                  <a href="http://www.cancer.org/" class="btn btn-primary" target="_blank" title="opens in new page">Check it out</a>
                </div>
              </div>
            </div><br/>
            <div class="row">
              <div class="col-md-6">
                <div>
                  <h6 class="text-info"> Breast Cancer Network of Strength</h6>
                  <a href="http://www.healingwell.org/" class="btn btn-info" target="_blank" title="opens in new page">Check it out</a>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <h6 class="text-danger"> JD Breast Cancer Foundation</h6>
                  <a href="http://jdbcfoundation.com/" class="btn btn-danger" target="_blank" title="opens in new page">Check it out</a>
                </div>
              </div>
            </div><br/>
            <div class="row">
              <div class="col-md-6">
                <div>
                  <h6 class="text-primary"> The Gathering Place</h6>
                  <a href="http://www.touchedbycancer.org/" class="btn btn-primary" target="_blank" title="opens in new page">Check it out</a>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <h6 class="text-warning"> Womens Cancer Resource Center</h6>
                  <a href="http://www.givingvoice.org/" class="btn btn-warning" target="_blank" title="opens in new page">Check it out</a>
                </div>
              </div>
            </div><br/>
            <div class="row">
              <div class="col-md-6">
                <div>
                  <h6 class="text-danger"> Web Directory of Cancers</h6>
                  <a href="http://www.cancerindex.org/" class="btn btn-danger" target="_blank" title="opens in new page">Check it out</a>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <h6 class="text-info"> National Foundation for Cancer Research</h6>
                  <a href="http://www.nfcr.org/" class="btn btn-info" target="_blank" title="opens in new page">Check it out</a>
                </div>
              </div>
            </div><br/>
            <div class="row">
              <div class="col-md-6">
                <div>
                  <h6 class="text-warning"> Y-ME National Breast Cancer Organization</h6>
                  <a href="http://www.abcdbreastcancersupport.org/" class="btn btn-warning" target="_blank" title="opens in new page">Check it out</a>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <h6 class="text-primary"> Men Against Breast Cancer</h6>
                  <a href="http://www.menagainstbreastcancer.org/" class="btn btn-primary" target="_blank" title="opens in new page">Check it out</a>
                </div>
              </div>
            </div><br/>
          </div>
          <br/>
          <p class="footer-text text-center">copyright © 2018 The Override Dev.</p>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
