<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <div class="auto-form-wrapper">
            <form (submit)="submit()">
              <div class="form-group">
                <label class="label">Username</label>
                <div class="input-group">
                  <input type="text" [(ngModel)]="auth.username" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Username">
                  <div *ngIf="auth.username === ''" class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                  </div>
                  <div *ngIf="auth.username !== ''" class="input-group-append">
                    <span class="input-group-text">
                      <i style="color:green" class="mdi mdi-check-circle-outline"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="label">Password</label>
                <div class="input-group">
                  <input [(ngModel)]="auth.hash" [ngModelOptions]="{standalone: true}" type="password" placeholder="Password length should not be less than 7" class="form-control">
                  <div *ngIf="auth.hash === ''" class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                  </div>
                  <div *ngIf="auth.hash.length >= 7" class="input-group-append">
                    <span class="input-group-text">
                      <i  style="color: green" class="mdi mdi-check-circle-outline"></i>
                    </span>
                  </div>
                  <div *ngIf="auth.hash.length > 0 && auth.hash.length < 7" class="input-group-append">
                    <span class="input-group-text">
                      <i style="color: red" class="mdi mdi-check-circle-outline"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button [disabled]="auth.hash.length < 7 || auth.username === ''" class="btn btn-primary submit-btn btn-block">Setup</button>
              </div>
              <div *ngIf="userLength !== 0" class="text-block text-center my-3">
                <span class="text-small font-weight-semibold">Already have an account?</span>
                <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="text-black text-small"> Login.</a>
              </div>
            </form>
          </div>
          <br/>
          <p class="footer-text text-center">copyright © 2018 The Override Dev.</p>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
