<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <app-nav></app-nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-side-menu></app-side-menu>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Diagnosis Form</h4>
                  <form class="form-sample" (submit)="submit()">
                    <p class="card-description">
                      Biopsy Slide Image Preview
                    </p>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <div class="col-sm-9">
                            <img *ngIf="image" src="{{URL}}upload/{{image}}" style="max-width: 150px; max-height: 150px;" />
                            <img *ngIf="!image" src="../../../assets/images/150x150.png" style="max-width: 150px; max-height: 150px;" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Patient</label>
                          <div class="col-sm-9">
                            <select [(ngModel)]="patient_id" [ngModelOptions]="{ standalone: true }" class="form-control">
                              <option selected value="-- Select a patient --">-- Select a patient --</option>
                              <option *ngFor="let patient of patients" value="{{patient.id}}">{{patient.name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row"></div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Biopsy Slide Image</label>
                          <div class="col-sm-9">
                            <input (change)="onFileChange($event)" type="file" name="image" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <button [disabled]="patient_id === '-- Select a patient --' || !image" type="submit" class="btn btn-success mr-2">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
            The Override Dev.</span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
